@model Biblioteca.AplicacaoMvc.Models.AssuntoVM

@{
    ViewData["Title"] = "Adicionar Novo Assunto";
}

<div class="container">
    <h1 class="display-4 text-center">Adicionar Novo Assunto</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Formulário de criação -->
            <form asp-action="Create" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Descricao" class="form-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <!-- Botão para salvar -->
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-save"></i> Salvar
                    </button>
                    <!-- Botão para cancelar -->
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
