@model Biblioteca.AplicacaoMvc.Models.AssuntoVM

@{
    ViewData["Title"] = "Excluir Assunto";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza de que deseja excluir este assunto?</h3>
<div>
    <h4>Descrição: @Model.Descricao</h4>
</div>

<form method="post">
    <input type="hidden" asp-for="CodAs" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="@Url.Action("Index", "Assunto")" class="btn btn-secondary">Cancelar</a>
</form>
